@charset "utf-8";
* {
    box-sizing: border-box;
}
html {
    margin: 0 auto;
}
body {
    margin: 0;
}
h1, h2, h3, h4 {
    text-align: center;
    color: #124D4B;
}

label, input {
    margin: 5px;
}
p{
    text-align: center;
}
table {
    width: 60%;
    border: 1.5px solid #124D4B;
    margin: 0 auto;
    text-align: left;
}

thead {
    background-color: #124D4B;
    color: white;
}

td {
    border: 1px solid lightgrey;
}
/* * control-panel.php */
.control-panel {
    width: 70%;
    margin: 0 auto;
}
/* * add-page.php */
.newPage {
    display: flex;
        justify-content: space-around;
}

/* * logo in header.php */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(222, 222, 222);
}
#logo {
    height: 80px;
}
/* * login.php */
.login-form {
    text-align: center;
}
/* * register.php */
.register-form {
    display: flex;
    justify-content: space-around;
}
.register-form button {
    text-align: center;
}
.register-form label {
    text-align: left;
}
/* * edit-user.php */
.edit-user {
    display: flex;
        justify-content: space-around;
}
/* * edit-page.php */
.edit-page-form {
    display: flex;
    justify-content: space-around;
}
.edit-page-form textarea {
    text-align: left;
}
/* * upload-logo.php */
.upload-logo {
    display: flex;
    justify-content: space-around;
}
/* * show-page.php */
.pageContent {
    text-align: center;
    margin: 5px;
}
/* * Nav Style */
.nav-bar {
    display: flex;
}
.nav-bar li {
    background-color: #124D4B;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
}
.nav-bar li a {
    color: white;
    text-decoration: none;
}
li {
    list-style: none;
}
/* *Footer */
footer {
    background-color: rgb(222, 222, 222);
    color: #124D4B;
    bottom: 0;
    position: fixed;
    width: 100%;
    font-weight: bold;
}